@mixin form-input {
  border: 0;
  border-bottom: 1px solid black;
  outline: none;
}

.input {
  @include form-input;

  &-title {
    @include form-input;
    font-size: 2rem;
    font-weight: bold;
  }

  &-span {
    background-color: lightgrey;
    padding: 5px 0;
  }
}

.row-pair {
  background-color: lighten($color: $primary, $amount: 15);

  & * {
    background-color: lighten($color: $primary, $amount: 15);
  }
}
