@mixin form-input {
  border: 0;
  border-bottom: 1px solid black;
  outline: none;
}

.input {
  @include form-input;

  &-title {
    @include form-input;
    font-size: 1.8rem;
    font-weight: bold;
  }

  &-span {
    background-color: lightgrey;
    padding: 5px 0;
  }
}

.row-pair {
  background-color: lighten($color: $primary, $amount: 15);

  & * {
    background-color: lighten($color: $primary, $amount: 15);
  }
}

@media (max-width: 768px) {
  div form#form-giftlist.border-dark {
    border: none !important;
    //margin-top: 20px !important;
    //padding: 24px 24px !important;
  }
}
